<script src="../../../toolkit/platform/WebAnimations/web-animations.js"></script>
<script src="../../animation/src/utils.js"></script>
<element name="x-animation">
  <script>
    var animationPrototype = {
      animation: null,
      target: null,
      // animation
      properties: null,
      accumulate: 'none',
      composite: 'replace',
      // timing
      duration: 0,
      fillMode: 'forwards',
      easing: 'linear',
      iterationCount: 1,
      startDelay: 0,
      direction: 'normal',
      ready: function() {
        this.job('apply');
      },
      play: function() {
        this.syncJobs();
        if (this.animation) {
          this.cancel();
          this.player = document.timeline.play(this.animation);
          this.player.paused = false;
          this.player.currentTime = 0;
          this.monitor();
        }
      },
      cancel: function() {
        if (this.player) {
          this.player.source = null;
        }
      },
      apply: function() {
        this.cancelJob('apply');
        this.animation = null;
        this.animation = this.makeAnimation();
        if (this.autoplay && this.animation) {
          this.play();
        }
        if (this.animation) {
          this.asyncApplyParent();
        }
        return this.animation;
      },
      makeAnimation: function() {
        this.target && console.log('target', this.target, 'animation', this.animationProps, 'timing', this.timingProps);
        return this.target ? new Animation(this.target, this.animationProps, this.timingProps) : null;
      },
      asyncApply: function() {
        this.job('apply');
      },
      syncJobs: function() {
        // TODO: need to dirty check to make sure all side effects are
        // applied before playing the animation.
        window.dirtyCheck();
        this.completeJob('apply');
      },
      animationChanged: function() {
        // TODO: attributes are not case sensitive.
        this.send('animationchange');
      },
      targetChanged: function() {
        this.asyncApply();
      },
      propertiesChanged: function() {
        this.asyncApply();
      },
      durationChanged: function() {
        this.asyncApply();
      },
      fillModeChanged: function() {
        this.asyncApply();
      },
      easingChanged: function() {
        this.asyncApply();
      },
      iterationCountChanged: function() {
        this.asyncApply();
      },
      startDelayChanged: function() {
        this.asyncApply();
      },
      directionChanged: function() {
        this.asyncApply();
      },
      asyncApplyParent: function() {
        var p = this.parentNode;
        if (p && p.asyncApply) {
          p.asyncApply();
        }
      },
      doOnChildren: function(inFn) {
        Array.prototype.forEach.call(this.children, inFn, this);
      },
      get timingProps() {
        var props = {
          fillMode: this.fillMode,
          timingFunction: this.easing,
          iterationCount: this.iterationCount,
          startDelay: this.startDelay,
          direction: this.direction,
          duration: this.duration
        }
        return props;
      },
      get animationProps() {
        var props = {};
        if (!this.properties) {
          this.doOnChildren(function(c) {
            if (c.tagName.toLowerCase() === 'x-property') {
              var property = c.name;
              var values = [];
              this.doOnChildren.call(c, function(f) {
                values.push(f.properties);
              });
              props[property] = values;
            }
          });
        }
        return this.properties || props;
      },
      monitor: function() {
        // TODO(sorvell): adding brittle support for an end event
        if (this.player && this.player.source &&
            this.player.source._isPastEndOfActiveInterval()) {
          this.complete();
        } else {
          webkitRequestAnimationFrame(this.monitor.bind(this));
        }
      },
      // intended for user implementation
      complete: function() {
        this.send('complete');
      }
    }
    document.utils.job.bindTo(animationPrototype);
    Toolkit.register(this, animationPrototype);
  </script>
</element>
<element name="x-property">
  <script>
    Toolkit.register(this, {
      name: null
    });
  </script>
</element>
<element name="x-keyframe">
  <script>
    Toolkit.register(this, {
      offset: null,
      value: null,
      easing: null,
      get properties() {
        var props = {
          // TODO bug in webanimations polyfill
          value: String(this.value) || "",
        };
        if (this.offset !== null) {
          props.offset = this.offset;
        }
        if (this.easing) {
          props.timingFunction = this.easing;
        }
        return props;
      }
    });
  </script>
</element>
