<link rel="component" href="x-animation-group.html">
<link rel="component" href="x-animation.html">
<element name="x-grid">
  <template>
    <style>
      x-item {
        display: inline-block;
        margin: 5px;
        padding: 10px;
        background-color: white;
        border: 1px solid #ccc;
      }
    </style>
    <template repeat="{{contents}}">
      <x-item url="{{url}}" delay={{delay}} on-load="onLoad"></x-item>
    </template>
    <x-animation-group id="anim" type="par" fillMode="forwards" duration="1" easing="ease-in-out">
    </x-animation-group>
  </template>
  <script>
    Toolkit.register(this, {
      count: 0,
      loadedCount: 0,
      contents: null,
      countChanged: function() {
        var contents = [];
        for (var i = 0; i < this.count; i++) {
          var row2 = i > 5;
          contents.push({
            index: i,
            delay: 0.01 * (i % 5) + (row2 ? 0.01 : 0),
            url: 'http://placekitten.com/g/150/' + (150 + i)
          });
        }
        this.contents = contents;
        this.loadedCount = 0;
      },
      loadedCountChanged: function() {
        if (this.loadedCount === this.count) {
          this.show();
        }
      },
      onLoad: function() {
        this.loadedCount += 1;
      },
      show: function() {
        var items = this.webkitShadowRoot.querySelectorAll('x-item');
        for (var i = 0; i < items.length; i++) {
          this.$.anim.appendChild(items[i].animation);
        }
        this.$.anim.apply();
        this.$.anim.play();
      }
    });
  </script>
</element>

<element name="x-item">
  <template>
    <style>
      @host {
        * {
          opacity: 0;
        }
      }
      img {
        width: 150px;
        height: 150px;
      }
    </style>
    <img id="image" src="{{url}}">
    <x-animation id="anim" duration="0.1" startDelay={{delay}}>
      <x-property name="opacity">
        <x-keyframe value="1">
      </x-property>
    </x-animation>
  </template>
  <script>
    Toolkit.register(this, {
      delay: 0,
      url: null,
      ready: function() {
        this.$.image.onload = this.onLoad.bind(this);
        this.$.anim.target = this;
      },
      onLoad: function() {
        this.send('load');
      },
      get animation() {
        return this.$.anim;
      }
    });
  </script>
</element>
