<link rel="component" href="x-animation-group.html">
<element name="x-staggered-group" extends="x-animation-group">
  <script>
    Toolkit.register(this, {
      offset: 0,
      // TODO: dup attrs until "attributes" is implemented.
      target: null,
      type: 'par',
      // timing
      duration: 0,
      fillMode: 'forwards',
      easing: 'linear',
      iterationCount: 1,
      startDelay: 0,
      direction: 'normal',
      ready: function() {
        // TODO: need to do this for now.
        this.super();
        this.watchChildren();
      },
      watchChildren: function() {
        var mo = window.MutationObserver || window.WebKitMutationObserver;
        var observer = new mo(function(mutations) {
          this.job('applyChildren');
        }.bind(this));
        observer.observe(this, {childList: true});
      },
      applyChildren: function() {
        var offset = 0;
        this.doOnChildren(function(c) {
          c.startDelay = offset;
          offset += this.offset;
        }.bind(this));
      }
    });
  </script>
</element>
