<link href="../../../../polymer-elements/polymer-flex-layout/polymer-flex-layout.html" rel="import">
<link href="../../../../polymer-ui-elements/polymer-ui-icon/polymer-ui-icon.html" rel="import">
<polymer-element name="contacts-create-add-item" attributes="label" noscript>
	<template>
		<style>
			/* @polyfill @host */
			:host {
				padding: 16px;
				border-color: rgba(0, 0, 0, 0.14902);
				border-width: 0 1px 1px;
				border-style: solid;
				color: #999;
				font-family: 'Helvetica Neue Medium', HelveticaNeue-Medium, Helvetica, sans-serif;
				font-size: 14px;
			}
			polymer-ui-icon {
				margin: 9px 24px 9px 9px;
			}
		</style>
		<polymer-flex-layout align="center"></polymer-flex-layout>
		<polymer-ui-icon icon="add"></polymer-ui-icon>
		<div flex>{{label}}</div>
	</template>
</polymer-element>