<link href="../../../../more-elements/libphonenumber.js/libphonenumber-js.html" rel="import">
<link href="../../../../polymer-ui-elements/polymer-ui-arrow/polymer-ui-arrow.html" rel="import">
<link href="../../../../polymer-ui-elements/polymer-ui-overlay/polymer-ui-overlay.html" rel="import">
<link href="contacts-create-item.html" rel="import">
<polymer-element name="contacts-create-phone-item" extends="contacts-create-item" on-contacts-create-item-error="{{errorAction}}">
	<template>
		<link href="../../../../polymer-ui-elements/basic.css" rel="stylesheet">
		<style>
			/* @polyfill @host */
			:host {
				position: relative;
				font-size: 14px;
			}
			#errorOverlay {
				position: absolute !important;
				left: 8px;
				top: 40px !important;
				right: 8px;
				box-sizing: border-box;
			}
			#errorOverlay::x-overlay {
				background: transparent;
				font-family: 'Helvetica Neue Medium', HelveticaNeue-Medium, Helvetica, sans-serif;
			}
			#errorOverlay polymer-ui-arrow {
				position: absolute !important;
				right: 19px;
				top: 0px;
			}
			#errorOverlay .overlayBody {
				position: absolute;
				padding: 16px;
				border-radius: 3px;
				left: 0;
				right: 0;
			}
			#errorOverlay .overlayLabel {
				color: #b6b6b6;
			}
		</style>
		<libphonenumber-js phone="{{value}}" valid="{{valid}}" formatted="{{value}}"></libphonenumber-js>
		<shadow></shadow>
		<polymer-ui-overlay id="errorOverlay">
			<polymer-ui-arrow color="#2b2b2b" borderColor="#2b2b2b"></polymer-ui-arrow>
			<br>
			<div class="overlayBody polymer-ui-dark-bg" overlay-toggle>
				<span class="overlayLabel">Error:</span> Invalid phone number
			</div>
		</polymer-ui-overlay>
	</template>
	<script>
		Polymer('contacts-create-phone-item', {
			blurAction: function() {
				this.super();
				this.error = this.value && !this.valid;
			},
			errorAction: function() {
				this.$.errorOverlay.active = true;
			}
		});
	</script>
</polymer-element>