<link href="../../../../polymer-elements/polymer-flex-layout/polymer-flex-layout.html" rel="import">
<link href="../../../../polymer-elements/polymer-selector/polymer-selector.html" rel="import">
<link href="../../../../polymer-ui-elements/polymer-ui-icon-button/polymer-ui-icon-button.html" rel="import">
<link href="../../../../polymer-ui-elements/polymer-ui-menu-item/polymer-ui-menu-item.html" rel="import">
<link href="../../../../polymer-ui-elements/polymer-ui-overlay/polymer-ui-overlay.html" rel="import">
<polymer-element name="contacts-create-item" attributes="icon activeIcon label value error selectedType active overlayActive" on-focus="focusAction" on-blur="blurAction">
	<template>
		<style>
			/* @polyfill @host */
			:host {
				padding: 0 20px;
				border-color: rgba(0, 0, 0, 0.14902);
				border-width: 0 1px 1px;
				border-style: solid;
			}
			input {
				margin-left: 20px;
				border: none;
				font-size: 18px;
				font-family: 'Helvetica Neue Medium', HelveticaNeue-Medium, Helvetica, sans-serif;
				box-sizing: border-box;
				height: 60px;
				background: transparent;
			}
			input:focus {
				outline: none;
			}
			.hidden {
				/* FIXME: outside should win */
				display: none !important;
			}
			#typeOverlay {
				left: 10px;
				box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.6);
			}
			#typeOverlay:not(.measured) {
				visibility: hidden !important;
			}
			#typeOverlay input {
				margin-left: 0px;
				height: auto;
			}
			#typeOverlay polymer-ui-menu-item {
				font-size: 18px !important;
				height: 61px !important;
				font-family: 'Helvetica Neue Medium', HelveticaNeue-Medium, Helvetica, sans-serif;
				padding: 10px 20px !important;
				border-color: rgba(0, 0, 0, 0.14902) !important;
				border-width: 0 1px 1px !important;
				border-style: solid !important;
			}
			/* FIXME: Safari drops the whole rule if it doesn't recognize the selector. */
			#typeOverlay content::-webkit-distributed(polymer-ui-menu-item) {
				font-size: 18px !important;
				height: 61px !important;
				font-family: 'Helvetica Neue Medium', HelveticaNeue-Medium, Helvetica, sans-serif;
				padding: 10px 20px !important;
				border-color: rgba(0, 0, 0, 0.14902) !important;
				border-width: 0 1px 1px !important;
				border-style: solid !important;
			}
		</style>
		<polymer-flex-layout align="center"></polymer-flex-layout>
		<polymer-ui-icon-button icon="{{icon}}" class="{{hidden: active || overlayActive || value || selectedType !== -1}}"></polymer-ui-icon-button>
		<polymer-ui-icon-button id="activeIcon" icon="{{activeIcon}}" class="{{hidden: !value && selectedType === -1 && !active && !overlayActive}}" on-tap="overlayAction"></polymer-ui-icon-button>
		<div flex>
			<input id="input" value="{{value}}" placeholder="{{label}}">
		</div>
		<polymer-ui-icon-button icon="close" class="{{hidden: !active && !overlayActive}}" on-tap="cancelAction"></polymer-ui-icon-button>
		<polymer-ui-icon-button src="error.png" class="{{hidden: !error || active}}" on-tap="errorAction"></polymer-ui-icon-button>
		<polymer-ui-overlay id="typeOverlay" active="{{overlayActive}}" modal backdrop on-polymer-overlay-open="overlayOpenAction">
			<polymer-selector selected="{{selectedType}}" on-polymer-activate="overlaySelectAction">
				<content></content>
			</polymer-selector>
		</polymer-ui-overlay>
	</template>
	<script>
		Polymer('contacts-create-item', {
			active: false,
			overlayActive: false,
			error: false,
			icon: 'plus',
			selectedType: -1,
			focusAction: function() {
				this.active = true;
			},
			blurAction: function() {
				// Async so if the tap events from the buttons have a chance to fire.
				this.async(function() {
					this.active = false;
					if (!this.value) {
						this.cancelAction();
					}
				}, null, 100);
				this.$.input.blur();
			},
			cancelAction: function() {
				this.value = '';
				this.selectedType = -1;
				this.fire('contacts-create-item-cancel');
			},
			errorAction: function() {
				this.fire('contacts-create-item-error');
			},
			overlayAction: function() {
				this.$.typeOverlay.toggle();
				if (this.$.typeOverlay.active && !this.$.typeOverlay.classList.contains('measured')) {
					this.async(this.measureOverlay);
				}
			},
			overlaySelectAction: function(e, detail, sender) {
				this.activeIcon = detail.item.icon;
				this.$.typeOverlay.toggle();
			},
			focus: function() {
				this.$.input.focus();
			},
			measureOverlay: function() {
				this.$.typeOverlay.style.width = (window.innerWidth - 20) + 'px';
				this.$.typeOverlay.style.top = ((window.innerHeight - this.$.typeOverlay.getBoundingClientRect().height) / 2) + 'px';
				this.$.typeOverlay.classList.add('measured');
			}
		});
		</script>
</polymer-element>