<link href="../../../../polymer-ui-elements/polymer-ui-toolbar/polymer-ui-toolbar.html" rel="import">
<link href="contacts-create-item.html" rel="import">
<link href="contacts-create-add-item.html" rel="import">
<link href="contacts-create-phone-item.html" rel="import">
<polymer-element name="contacts-create" attributes="contact">
	<template>
		<style>
			polymer-ui-toolbar {
				background: transparent none !important;
				padding: 0;
			}
			button {
				background: transparent none;
				border: 0;
				font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, sans-serif;
				font-size: 14px;
				font-weight: bold;
				color: #777;
				padding: 8px;
				margin: 0 16px;
			}
			button:focus {
				outline: none;
			}
			button:active {
				outline: none;
				border: 1px solid rgba(0, 0, 0, 0.15);
				border-radius: 3px;
			}
			button.save {
				color: #00bbd3;
			}
			contacts-create-item[active], contacts-create-phone-item[active] {
		    background: #f7f7f7;
			}
		</style>
		<polymer-ui-toolbar>
			<button on-tap="{{cancelAction}}">Cancel</button>
			<div flex></div>
			<button class="save" on-tap="{{createAction}}">Save</button>
		</polymer-ui-toolbar>
		<!-- FIXME: autofocus name input when switching to this page -->
		<contacts-create-item icon="account" activeicon="account" label="Name" value="{{contact.name}}" autofocus></contacts-create-item>
		<template repeat="{{phone in contact.phone}}">
	 		<contacts-create-phone-item activeicon="{{phone.icon}}" value="{{phone.value}}" on-contacts-create-item-cancel="{{itemCancelAction}}">
				<polymer-ui-menu-item icon="dialoga" label="Home"></polymer-ui-menu-item>
				<polymer-ui-menu-item icon="filter" label="Mobile"></polymer-ui-menu-item>
				<polymer-ui-menu-item icon="briefcase" label="Work"></polymer-ui-menu-item>
			</contacts-create-phone-item>
		</template>
		<contacts-create-add-item label="Add a phone" on-tap="{{addPhoneAction}}" on-contacts-create-item-cancel="{{itemCancelAction}}"></contacts-create-add-item>
		<template repeat="{{email in contact.email}}">
	 		<contacts-create-item activeicon="{{email.icon}}" value="{{email.value}}">
				<polymer-ui-menu-item icon="dialoga" label="Home"></polymer-ui-menu-item>
				<polymer-ui-menu-item icon="briefcase" label="Work"></polymer-ui-menu-item>
			</contacts-create-item>
		</template>
		<contacts-create-add-item label="Add an email" on-tap="{{addEmailAction}}" on-contacts-create-item-cancel="{{itemCancelAction}}"></contacts-create-add-item>
		<template repeat="{{address in contact.address}}">
	 		<contacts-create-item activeicon="{{address.icon}}" value="{{address.value}}">
				<polymer-ui-menu-item icon="dialoga" label="Home"></polymer-ui-menu-item>
				<polymer-ui-menu-item icon="briefcase" label="Work"></polymer-ui-menu-item>
			</contacts-create-item>
		</template>
		<contacts-create-add-item label="Add an address" on-tap="{{addAddressAction}}"></contacts-create-add-item>
	</template>
	<script>
		Polymer('contacts-create', {
			contact: {
				'picture': 'http://lorempixel.com/160/160/people',
				'background': 'http://lorempixel.com/700/240',
				'email': [],
				'phone': [],
				'address': [],
				'group': 0
			},
			enteredView: function() {
				this.observer = new MutationObserver(function(mutations) {
					mutations.forEach(function(m) {
						Array.prototype.forEach.call(m.addedNodes, function(n) {
							if (n.localName === 'contacts-create-item' ||
									n.localName === 'contacts-create-phone-item') {
								n.focus();
							}
						});
					});
				});
				this.observer.observe(window.ShadowDOMPolyfill ? this : this.shadowRoot, {childList: true});
			},
			leftView: function() {
				this.observer.disconnect();
			},
			addPhoneAction: function() {
				this.contact.phone.push({icon: 'dialoga'});
			},
			addEmailAction: function() {
				this.contact.email.push({icon: 'dialoga'});
			},
			addAddressAction: function() {
				this.contact.address.push({icon: 'dialoga'});
			},
			itemCancelAction: function(e, detail, sender) {
				var list;
				if (sender.templateInstance.model.phone) {
					list = this.contact.phone;
				} else if (sender.templateInstance.model.email) {
					list = this.contact.email;
				} else {
					list = this.contact.address;
				}
				for (var i = 0, item; item = list[i]; i++) {
					if (!item.value) {
						list.splice(i, 1);
						break;
					}
				}
			},
			cancelAction: function() {
				this.fire('contacts-create-cancel');
			},
			createAction: function() {
				this.fire('contacts-create', {contact: this.contact});
			}
		});
	</script>
</polymer-element>