<link href="../../../../polymer-elements/polymer-animation/polymer-animation.html" rel="import">
<link href="../../../../polymer-elements/polymer-animation/polymer-animation-group.html" rel="import">
<link href="../../../../polymer-elements/polymer-animation/polymer-fadein.html" rel="import">
<link href="../../../../polymer-elements/polymer-animation/polymer-fadeout.html" rel="import">
<link href="../../../../polymer-elements/polymer-animation/polymer-translate.html" rel="import">
<link href="../../../../polymer-elements/polymer-scrub/polymer-scrub.html" rel="import">
<link href="../../../../polymer-elements/polymer-grid-layout/polymer-grid-layout.html" rel="import">
<link href="../../../../polymer-elements/polymer-media-query/polymer-media-query.html" rel="import">
<link href="../../../../polymer-ui-elements/polymer-ui-toolbar/polymer-ui-toolbar.html" rel="import">
<link href="../../../../polymer-ui-elements/polymer-ui-icon-button/polymer-ui-icon-button.html" rel="import">
<link href="../../../list/elements/polymer-list/polymer-list.html" rel="import">
<link href="contacts-detail.html" rel="import">
<link href="contacts-icon.html" rel="import">
<link href="mock-data.html" rel="import">
<polymer-element name="contacts-list" attributes="wideLayout">
	<template>
		<style>
			/* @polyfill @host */
			:host {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
			}
			polymer-ui-toolbar {
				padding-left: 10px;
				padding-right: 10px;
			}
			.clip {
				background: #eeeeee;
				overflow: hidden;
				position: relative;
			}
			#listContainer {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				background-color: rgb(242, 242, 242),
				min-width: 320px;
				overflow-y: scroll;
			}
			polymer-list {
				height: 100%;
			}
			.contactItem {
				font-size: 18px;
				font-family: 'Helvetica Neue Medium', HelveticaNeue-Medium, Helvetica, sans-serif;
			}
			.contactItem.sticky {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				z-index: 10;
				opacity: 0.95;
			}
			.contactItem.header {
		    background: #f2f2f2 -webkit-linear-gradient(top, rgba(197,197,197,0), rgba(197,197,197,0.15));
		    background: #f2f2f2 -moz-linear-gradient(top, rgba(197,197,197,0), rgba(197,197,197,0.15));
		    background: #f2f2f2 -ms-linear-gradient(top, rgba(197,197,197,0), rgba(197,197,197,0.15));
				border-style: solid;
				border-color: rgba(0, 0, 0, 0.14902);
				border-width: 0 0 1px;
				box-sizing: border-box;
		    color: #9f9f9f;
				font-variant: small-caps;
				height: 60px;
				padding: 20px;
			}
			[wideLayout] .contactItem.polymer-selected {
		    background: #f2f2f2 -webkit-linear-gradient(top, rgba(197,197,197,0), rgba(197,197,197,0.15));
		    background: #f2f2f2 -moz-linear-gradient(top, rgba(197,197,197,0), rgba(197,197,197,0.15));
		    background: #f2f2f2 -ms-linear-gradient(top, rgba(197,197,197,0), rgba(197,197,197,0.15));
		  }
		  .contactItemControls {
		  	position: absolute;
		  	top: 0;
		  	left: -100%;
				box-sizing: border-box;
		  	width: 100%;
		  	height: 100%;
				border-style: solid;
				border-color: rgba(0, 0, 0, 0.14902);
				border-width: 0 0 1px;
		  	text-align: right;
		  	padding: 21px 30px;
		  }
		  .contactItemControls.active {
		  	background: #f5565a;
		  	opacity: 0;
		  }
		  .contactItemBody {
				background-color: white;
				border-style: solid;
				border-color: rgba(0, 0, 0, 0.14902);
				border-width: 0 0 1px 1px;
				box-sizing: border-box;
				height: 80px;
				padding: 0 20px;
		  }
		  .addButton {
		  	position: absolute;
		  	bottom: 16px;
		  	right: 16px;
		  	color: white;
		  	padding: 8px 14px;
		  	background: #bdc146;
		  	font-size: 20px;
		  	border: 1px solid #d9d9d9;
		  	border-radius: 20px;
		  	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		  }
			#overlay {
				position: fixed;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				-webkit-transform-origin-y: top;
				opacity: 0;
			}
			#overlay.opened {
				opacity: 1;
			}
			#overlay::x-overlay {
				height: 100%;
			}
			contacts-detail {
				min-width: 65%;
			}
		</style>
		<mock-data id="mock"></mock-data>
		<polymer-media-query query="min-width: 768px" queryMatches="{{wideLayout}}"></polymer-media-query>
		<polymer-grid-layout id="grid" on-polymer-grid-layout="{{layoutAction}}"></polymer-grid-layout>
		<polymer-ui-toolbar id="toolbar">
			<polymer-ui-icon-button icon="menu" on-tap="{{menuAction}}"></polymer-ui-icon-button>
			<div flex>Everyone</div>
			<polymer-ui-icon-button icon="search"></polymer-ui-icon-button>
			<template if="{{wideLayout}}">
				<polymer-ui-icon-button icon="shortcut"></polymer-ui-icon-button>
				<polymer-ui-icon-button icon="favorite"></polymer-ui-icon-button>
			</template>
		</polymer-ui-toolbar>
		<div class="clip">
			<div id="sticky" class="contactItem header sticky">
				{{stickyContent}}
			</div>
			<polymer-list id="list" data="{{$.mock.withHeaders}}" listData="{{listData}}" on-polymer-list-scroll="{{scrollAction}}">
				<template repeat="{{contact in listData}}">
					<!-- <contacts-list-item contact="{{contact}}"></contacts-list-item> -->

					<template if="{{contact.header}}">
						<div class="contactItem header {{contact.page}}">
							{{contact.header}}
						</div>
					</template>
					<template if="{{!contact.header}}">
						<div class="contactItem {{contact.page}}" on-pointerdown="{{pointerdownAction}}">
							<div class="contactItemControls active"></div>
							<div class="contactItemControls">
								<polymer-ui-icon-button icon="close"></polymer-ui-icon-button>
							</div>
							<div class="contactItemBody" on-click="{{activateAction}}">
								<polymer-flex-layout align="center"></polymer-flex-layout>
									<contacts-icon contact="{{contact}}"></contacts-icon>
								<div>{{contact.name}}</div>
							</div>
						</div>
					</template>
					
				</template>
			</polymer-list>
			<polymer-ui-overlay id="overlay" transitions="{{activateTransitions}}">
				<contacts-detail contact="{{selectedContact.contact}}" on-contacts-detail-shrink="{{overlayCloseAction}}">
				</contacts-detail>
			</polymer-ui-overlay>
			<div class="addButton" on-tap="{{addAction}}">&#x2b;</div>
			<!-- scrubbing -->
			<polymer-scrub id="scrub" animation="{{$.slideAnimation.animation}}" snapThreshold="0.2" on-polymer-scrub-animation-end="{{scrubAnimationEndAction}}"></polymer-scrub>
			<polymer-animation-group id="slideAnimation" type="par" fillMode="forwards">
				<polymer-translate id="translateAnimation" fromX="0" toX="100%" duration="0.6" fillMode="forwards"></polymer-translate>
				<polymer-fadein id="fadeAnimation" duration="0.1" fillMode="forwards"></polymer-fadein>
			</polymer-animation-group>
			<!-- item delete animation -->
			<polymer-translate id="deleteAnimation" duration="0.1" fromY="0" toY="-100%" fillMode="forwards" easing="ease-in" on-polymer-animation-end="{{deleteAnimationEndAction}}"></polymer-translate>
			<!-- transition -->
			<polymer-animation-group id="activateAnimation" type="par" duration="0.1">
				<polymer-translate target="{{$.toolbar}}" fromY="0" toY="-100%"></polymer-translate>
				<polymer-fadeout target="{{$.toolbar}}"></polymer-fadeout>
				<polymer-fadeout target="{{$.sticky}}"></polymer-fadeout>
				<polymer-fadeout target="{{$.list}}"></polymer-fadeout>
				<polymer-animation target="{{$.overlay}}" easing="ease-in">
					<polymer-animation-keyframe>
						<polymer-animation-prop name="transform" value="scaleY(1.5)"></polymer-animation-prop>
						<polymer-animation-prop name="opacity" value="0"></polymer-animation-prop>
					</polymer-animation-keyframe>
					<polymer-animation-keyframe>
						<polymer-animation-prop name="transform" value="scaleY(1)"></polymer-animation-prop>
						<polymer-animation-prop name="opacity" value="1"></polymer-animation-prop>
					</polymer-animation-keyframe>
				</polymer-animation>
			</polymer-animation-group>
		</div>
		<contacts-detail contact="{{selectedContact.contact}}" on-contacts-detail-shrink="{{overlayCloseAction}}">
		</contacts-detail>
	</template>
	<script>
		Polymer('contacts-list', {
			applyAuthorStyles: true,
			wideLayout: true,
			stickyContent: 'A',
			selectedContact: null,
			ready: function() {
				this.activateTransitions = [this.$.activateAnimation, null];
				this.wideLayoutChanged();
			},
			wideLayoutChanged: function() {
				if (this.wideLayout) {
					this.$.overlay.active && (this.$.overlay.active = false);
					this.$.grid.layout = [
						[3, 3],
						[4, 5],
						[4, 5],
					];
				} else {
					this.$.grid.layout = [
						[3, 3],
						[4, 4],
						[4, 4],
					];
				}
			},
			layoutAction: function() {
				this.$.list.reset();
			},
			scrollAction: function() {
				var items = this.$.list.querySelectorAll('.contactItem');
				var scrollTop = this.$.list.scrollOffset;
				var lastHeader;
				for (var i = 0, item; item = items[i]; i++) {
					var offset = item.offsetTop + (item.offsetParent ? item.offsetParent.offsetTop : 0);
					var isHeader = item.classList.contains('header');
					if (offset > scrollTop) {
						this.stickyContent = lastHeader.textContent;
						var transY = offset - scrollTop - 60;
						if (transY < 0 && isHeader) {
							this.$.sticky.style['-webkit-transform'] = 'translateY(' + transY + 'px)';
						} else {
							this.$.sticky.style['-webkit-transform'] = null;
						}
						break;
					}
					if (isHeader) {
						lastHeader = item;
					}
				}
			},
			pointerdownAction: function(e, detail, sender) {
				this.$.scrub.target = sender;
				this.$.translateAnimation.target = sender;
				this.$.fadeAnimation.target = sender.querySelector('.contactItemControls.active');
				this.$.slideAnimation.apply();
			},
			scrubAnimationEndAction: function(e, detail, sender) {
				this.deletedContact = sender.target.templateInstance.model.contact.__proto__;
        var listRect = this.$.list.getBoundingClientRect();
        var itemRect = sender.target.getBoundingClientRect();
        var height = listRect.bottom - itemRect.top;
        var item = sender.target;
        var targets = [];
        do {
          item = item.nextElementSibling;
          if (item.classList.contains('contactItem')) {
            targets.push(item);
            height -= itemRect.height;
          }
        } while (height > 0);
        this.$.deleteAnimation.target = targets;
        this.$.deleteAnimation.play();
			},
			deleteAnimationEndAction: function(e, detail, sender) {
				var index = this.$.mock.withHeaders.indexOf(this.deletedContact);
				this.$.mock.withHeaders.splice(index, 1);
				this.$.list.forceUpdate();
			},
			addAction: function() {
				this.fire('contacts-list-add');
			},
			menuAction: function() {
				this.fire('contacts-menu-open');
			},
			overlayCloseAction: function() {
				this.$.overlay.active = false;
			},
			activateAction: function(e, detail, sender) {
				if (!this.$.scrub.scrubbing) {
					this.selectedContact = sender.templateInstance.model;
					if (!this.wideLayout) {
						this.$.overlay.active = true;
					}
				}
			}
		})
	</script>
</polymer-element>