<link href="../../../../polymer-elements/polymer-flex-layout/polymer-flex-layout.html" rel="import">
<link href="../../../../polymer-elements/polymer-grid-layout/polymer-grid-layout.html" rel="import">
<link href="../../../../polymer-ui-elements/polymer-ui-menu/polymer-ui-menu.html" rel="import">
<link href="../../../../polymer-ui-elements/polymer-ui-menu-item/polymer-ui-menu-item.html" rel="import">
<link href="../../../../polymer-ui-elements/polymer-ui-overlay/polymer-ui-overlay.html" rel="import">
<link href="../../../../polymer-ui-elements/polymer-ui-pages/polymer-ui-pages.html" rel="import">
<link href="contacts-create.html" rel="import">
<link href="contacts-detail.html" rel="import">
<link href="contacts-icon.html" rel="import">
<link href="contacts-list.html" rel="import">
<link href="mock-data.html" rel="import">
<polymer-element name="contacts-app" attribiutes="page">
	<template>
		<style>
			polymer-ui-menu {
				padding: 0 !important;
			}
			.sidebar {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				background-color: white;
				font-family: 'Helvetica Neue Medium', HelveticaNeue-Medium, Helvetica, sans-serif;
				width: 80%;
				max-width: 300px;
				box-shadow: 5px 0px 5px rgba(50, 50, 50, 0.6);
			}
			.sidebar .header {
				box-sizing: border-box;
				height: 240px;
				background: url('http://lorempixel.com/g/500/240/nature') repeat-x;
				padding: 20px 20px 10px;
				color: white;
			}
			.sidebar::x-overlay {
				height: 100%;
			}
			.sidebar polymer-ui-menu-item {
				margin: 10px;
				color: black;
			}
			polymer-ui-pages {
				display: block;
				height: 100%;
				z-index: 0;
			}
			.contactItem {
				background-color: white;
				border-style: solid;
				border-color: rgba(0, 0, 0, 0.1);
				border-width: 0 1px 1px;
				font-size: 18px;
				font-family: 'Helvetica Neue Medium', HelveticaNeue-Medium, Helvetica, sans-serif;
				box-sizing: border-box;
				height: 80px;
				padding: 0 20px;
			}
			.contactItem.header {
		    background: #f2f2f2 -webkit-linear-gradient(top, rgba(197,197,197,0), rgba(197,197,197,0.15));
		    background: #f2f2f2 -moz-linear-gradient(top, rgba(197,197,197,0), rgba(197,197,197,0.15));
		    background: #f2f2f2 -ms-linear-gradient(top, rgba(197,197,197,0), rgba(197,197,197,0.15));
		    color: #9f9f9f;
				font-variant: small-caps;
				height: 60px;
				padding: 20px;
			}
		</style>
		<mock-data id="mock"></mock-data>
		<polymer-grid-layout id="grid"></polymer-grid-layout>
		<polymer-ui-overlay id="sidebar" class="sidebar" backdrop modal>
			<polymer-ui-menu valueattr="label" on-polymer-select="sidebarCloseAction">
				<div class="header">
					<polymer-flex-layout vertical></polymer-flex-layout>
					<contacts-icon contact="{{me}}" large></contacts-icon>
					<div flex></div>
					<p>ykyyip@google.com</p>
				</div>
				<polymer-ui-menu-item label="Contacts" icon="contact"></polymer-ui-menu-item>
				<polymer-ui-menu-item label="Groups" icon="stream"></polymer-ui-menu-item>
				<polymer-ui-menu-item label="Favorites" icon="favorite"></polymer-ui-menu-item>
				<polymer-ui-menu-item label="Settings" icon="settings"></polymer-ui-menu-item>
				<polymer-ui-menu-item label="Import &amp; Export" icon="shortcut"></polymer-ui-menu-item>
				<polymer-ui-menu-item label="Help" icon="dialog"></polymer-ui-menu-item>
			</polymer-ui-menu>
		</polymer-ui-overlay>
		<polymer-ui-pages selected="{{page}}">
			<contacts-list on-contacts-list-add="addContactAction" on-contacts-menu-open="sidebarOpenAction">
				<template repeat="{{alpha in $.mock.alphabetized}}">
					<div class="contactItem header">
						{{alpha.letter}}
					</div>
					<template repeat="{{contact in alpha.contacts}}">
						<div class="contactItem">
							<polymer-flex-layout align="center"></polymer-flex-layout>
								<contacts-icon contact="{{contact}}"></contacts-icon>
							<div>{{contact.name}}</div>
						</div>
					</template>
				</template>
			</contacts-list>
			<contacts-detail contact="{{selectedContact.contact}}" on-contacts-detail-shrink="shrinkAction">
			</contacts-detail>
			<contacts-create on-contacts-create-cancel="shrinkAction">
			</contacts-create>
		</polymer-ui-pages>
	</template>
	<script>
		Polymer('contacts-app', {
			page: 0,
			ready: function() {
				// this.$.grid.layout = [
				// 	[2, 3, 3]
				// ]
			},
			addContactAction: function() {
				this.page = 2;
			},
			shrinkAction: function() {
				this.page = 0;
			},
			sidebarOpenAction: function() {
				this.$.sidebar.active = true;
			},
			sidebarCloseAction: function() {
				this.$.sidebar.active = false;
			}
		});
	</script>
</polymer-element>