<link href="../../../../polymer-elements/polymer-animation/polymer-animation-group.html" rel="import">
<link href="../../../../polymer-elements/polymer-animation/polymer-fadein.html" rel="import">
<link href="../../../../polymer-elements/polymer-animation/polymer-translate.html" rel="import">
<link href="../../../../polymer-elements/polymer-flex-layout/polymer-flex-layout.html" rel="import">
<link href="../../../../polymer-elements/polymer-scrub/polymer-scrub.html" rel="import">
<link href="contacts-icon.html" rel="import">
<polymer-element name="contacts-list-item" attributes="contact">
	<template>
		<style>
			:host {
				display: block;
				position: relative;
			}
/*			#item {
				position: relative;
				border-style: solid;
				border-color: rgba(0, 0, 0, 0.14902);
				border-width: 0 0 1px;
				box-sizing: border-box;
				height: 80px;
			}
*/			#itemControls {
				box-sizing: border-box;
				position: relative;
				height: 100%;
				width: 100%;
				left: -100%;
				background-color: #f2f2f2;
				border-style: solid;
				border-color: rgba(0, 0, 0, 0.14902);
				border-width: 0 0 1px;
				padding: 21px 30px;
				text-align: right;
			}
			#itemControlsActive {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background-color: #f5565a;
				opacity: 0;
			}
			#itemBody {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background-color: white;
				border-style: solid;
				border-color: rgba(0, 0, 0, 0.14902);
				border-width: 0 0 1px 1px;
				font-size: 18px;
				font-family: 'Helvetica Neue Medium', HelveticaNeue-Medium, Helvetica, sans-serif;
				padding: 0 20px;
			}
		</style>
		<div id="item">
			<div id="itemControls">
				<polymer-ui-icon-button icon="close"></polymer-ui-icon-button>
				<div id="itemControlsActive">
					<polymer-ui-icon-button icon="close"></polymer-ui-icon-button>
				</div>
			</div>
			<div id="itemBody">
				<polymer-flex-layout align="center"></polymer-flex-layout>
				<contacts-icon contact="{{contact}}"></contacts-icon>
				<div>{{contact.name}}</div>
			</div>
		</div>
		<!--
		<polymer-animation-group id="slideAnimation" type="par" on-polymer-animation-change="animationChangeAction">
			<polymer-translate target="{{$.item}}" fromX="0" toX="100%" duration="1"></polymer-translate>
			<polymer-fadein target="{{$.itemControlsActive}}" duration="0.2" fillMode="forwards"></polymer-fadein>
		</polymer-animation-group>
		<polymer-scrub id="scrub" target="{{$.itemBody}}" animation="{{$.slideAnimation.animation}}"></polymer-scrub>
		//-->
	</template>
	<script>
		Polymer('contacts-list-item', {
			animationChangeAction: function() {
				console.log('animation', this.animation);
				this.$.scrub.animation = this.$.slideAnimation.animation;
			}
		});
	</script>
</polymer-element>