<link href="../../../../polymer-elements/polymer-flex-layout/polymer-flex-layout.html" rel="import">
<link href="../../../../polymer-ui-elements/polymer-ui-toolbar/polymer-ui-toolbar.html" rel="import">
<link href="../../../../polymer-ui-elements/polymer-ui-icon-button/polymer-ui-icon-button.html" rel="import">
<link href="mock-data.html" rel="import">
<polymer-element name="shiny-contacts">
	<template>
		<style>
			polymer-ui-toolbar {
				padding-left: 10px;
				padding-right: 10px;
			}
			.contactContainer {
				background-color: rgb(242, 242, 242)
			}
			.contactItem {
				margin: 0 10px;
				background-color: white;
				border-style: solid;
				border-color: rgba(0, 0, 0, 0.14902);
				border-width: 0 1px 1px;
				font-size: 18px;
				font-family: 'Helvetica Neue Medium', HelveticaNeue-Medium, Helvetica, sans-serif;
				box-sizing: border-box;
				height: 60px;
				padding: 20px;
			}
			.contactItem.header {
				font-variant: small-caps;
				color: #9e9e9e;
			}
			.contactItem:nth-child(2) {
				margin-top: 10px;
				border-top-width: 1px;
				border-radius: 3px 3px 0 0;
			}
			.contactIcon {
				background-color: rgb(242, 242, 242);
				border-radius: 20px;
				border: 1px solid rgba(0, 0, 0, 0.14902);
				margin-right: 20px;
				padding: 8px;
				min-width: 24px;
				height: 24px;
				font-family: 'Open Sans', Open-Sans, sans-serif;
				font-size: 16px;
				text-align: center;
				color: #d3d2d3
			}
		</style>
		<mock-data id="mock"></mock-data>
		<polymer-flex-layout vertical="true"></polymer-flex-layout>
		<polymer-ui-toolbar>
			<polymer-ui-icon-button icon="menu"></polymer-ui-icon-button>
			<div flex>Contacts</div>
			<polymer-ui-icon-button icon="plus"></polymer-ui-icon-button>
			<polymer-ui-icon-button icon="search"></polymer-ui-icon-button>
		</polymer-ui-toolbar>
		<div class="contactContainer" flex>
			<template repeat="{{alpha in $.mock.alphabetized}}">
				<div class="contactItem header">
					{{alpha.letter}}
				</div>
				<template repeat="{{contact in alpha.contacts}}">
					<div class="contactItem" on-tap="contactAction">
						<polymer-flex-layout align="center"></polymer-flex-layout>
							<div class="contactIcon">
								{{contact.initials}}
							</div>
						<div>{{contact.name}}</div>
					</div>
				</template>
			</template>
		</div>
	</template>
	<script>
		Polymer('shiny-contacts', {
			contactAction: function(e, detail, sender) {
				console.log(e, detail, sender);
			}
		})
	</script>
</polymer-element>