/*
Copyright 2013 The Toolkitchen Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/

:host { 
  display: block;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 40px;
  line-height: 35px;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
  opacity: 0.5;
}

:host(:hover:host) {
  opacity: 0.9;
}

:host(.polymer-selected:host, [active]:host) {
  opacity: 1;
}

/* icon and label */
polymer-ui-icon:not([showing]) {
  display: none !important;
}

polymer-ui-icon {
  margin-right: 16px;
}

#label {
  vertical-align: middle;
  padding-right: 20px;
}

/*@polyfill :host #label > a, #link */
::content > a, #link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -1px;
}

#link[hidden] {
  display: none;
}
