/*
Copyright 2013 The Polymer Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/

:host {
  box-shadow: inset -8px 0px 8px -4px rgba(0, 0, 0, 0.4);
}

/*@polyfill :host :not(polymer-ui-submenu-item) > polymer-ui-menu */
::content polymer-ui-menu {
  background: none !important;
  padding: 0 10px;
  margin: 10px 0;
}