<!--
Copyright 2013 The Polymer Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<element name="g-component">
<script>
  function component(inPrototype) {
    var prototype = mixin({}, base, inPrototype);
    //mixin(inPrototype, base);
    var element = this;
    this.register({
      prototype: prototype,
      lifecycle: {
        created: function() {
          var root = installTemplate.call(this, element);
          prototype.ready.call(this, root);
        }
      }
    });
    console.log("initialized component " + this.options.name);
  };
  
  function installTemplate(inElement) {
    var template = inElement.querySelector('template');
    if (template) {
      var root = this.webkitCreateShadowRoot();
      root.appendChild(template.content.cloneNode(true));
      document.upgradeElements(root);
      this.parseDeclarations(root);
      return root;
    }
  };
  
  var base = {
    ready: function() {
    },
    bind: function(inNode, inProperty, inPath) {
      bind(inNode, inProperty, this, inPath);
    },
    parseDeclarations: function(inRoot) {
      parseAllBindingDeclarations.call(this, inRoot);
    }
  };
  
  function parseAllBindingDeclarations(inRoot) {
    forEach(inRoot.childNodes, parsBindingDeclarations, this);
  };
  
  function parsBindingDeclarations(inNode) {
    // scan for bindings in attributes
    if (inNode.attributes) {
      forEach(inNode.attributes, function(a) {
        parseMustache.call(this, inNode, a.name, a.value);
      }, this);
    }
  };
  
  function parseMustache(inNode, inName, inValue) {
    var m = inValue.match(parseMustache.pattern);
    if (m) {
      console.log(inName, inValue, m);
      this.bind(inNode, inName, m[1]);
    }
  };
  parseMustache.pattern = /\{\{([^{}]*)}}/;
  
  function bind(inA, inProperty, inB, inPath) {
    var parts = inPath.split(".");
    var property = parts.pop();
    var path = parts.length ? '.' + parts.join('.') : '';
    var getObject = 
        new Function(['inObject'], 'return inObject' + path + ';');
    console.log(getObject(inB), getObject(inB)[property]);
    Object.defineProperty(inA, inProperty, {
      get: function() {
        return getObject(inB)[property];
      },
      set: function(inValue) {
        getObject(inB)[property] = inValue;
      },
      configurable: true,
      enumerable: true
    });
  }
  
  var forEach = Array.prototype.forEach.call.bind(Array.prototype.forEach);
  
  // exports
  
  window.bind = bind;
  HTMLElementElement.prototype.component = component;
  
</script>
</element>