<!doctype html>
<html>
<head>
	<script src="http://www.polymer-project.org/polymer.min.js"></script>
</head>
<body>
	<polymer-element name="repo-list">
		<template>
			<style>
				span.name {
					color: red;
				}
				span.name.clean {
					color: green;
				}
				span.ab {
					font-style: italic;
				}
				div.status {
					margin: 8px;
					padding: 8px;
					border: 1px solid black;
				}
			</style>
			<h1>{{root}}</h1>
			<template repeat="{{repos}}">
				<div on-tap="{{toggleAction}}">
					<span class="name {{ {clean: clean} | tokenList}}">{{name}}</span>
					<template if="{{untracked}}">*</template>
					<span class="ab">(+{{ahead}}/-{{behind}})</span>
				</div>
				<template if="{{!clean}}">
					<div class="status" hidden?="{{!expanded}}">
						<pre>{{status}}</pre>
					</div>
				</template>
			</template>
		</template>
		<script>
			Polymer('repo-list', {
				root: ##ROOT##,
				repos: ##REPOS##,
				toggleAction: function(e, detail, sender) {
					var model = sender.templateInstance.model;
					model.expanded = !model.expanded;
				}
			});
		</script>
	</polymer-element>
	<repo-list></repo-list>
</body>
</html>