<!DOCTYPE html>
<!--
Copyright 2013 The Toolkitchen Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>layout examples</title>
</head>
<body>
  <b>g-layout</b> uses Shadow DOM, MDV and CSS flexbox to acheive different layouts.
  It creates flex boxes inside shadow root and with Shadow DOM distribution allows for
  complex layout without needing to alter the DOM structure in the &lt;g-layout&gt; element.
  <h4>Examples:</h4>
  <ul>
    <li>
      <a href="example1.html">Apply different layouts to a &lt;g-layout&gt; element that contains 5 children</a><br>
      <pre>
        &lt;g-layout&gt;<br>
        &nbsp;&nbsp;&lt;div class="box"&gt;1&lt;/div&gt;<br>
        &nbsp;&nbsp;&lt;div class="box"&gt;2&lt;/div&gt;<br>
        &nbsp;&nbsp;&lt;div class="box"&gt;3&lt;/div&gt;<br>
        &nbsp;&nbsp;&lt;div class="box"&gt;4&lt;/div&gt;<br>
        &nbsp;&nbsp;&lt;div class="box"&gt;5&lt;/div&gt;<br>
        &lt;/g-layout&gt;<br>
      </pre>
    </li>
    <li><a href="example2.html">Adapt to different layout when screen size changes</a></li><br>
    <li><a href="example3.html">Nested &lt;g-layout&gt;</a></li>
  </ul>
</body>
</html>
