/*
Copyright 2013 The Polymer Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/

body ^^ polymer-ui-sidebar.polymer-ui-light-theme {
  box-shadow: inset -8px 0px 8px -4px rgba(0, 0, 0, 0.15);
  color: #333333;
}