<!--
Copyright 2013 The Polymer Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<template element="g-menu-item">
  <style>
    g-menu-item {
      display: block;
      box-sizing: border-box;
      padding: 12px 14px;
      margin: 10px;
      border: 1px solid transparent;
      border-radius: 3px;
      cursor: pointer;
      -webkit-user-select: none;
    }

    g-menu-item.selected {
      border: 1px solid rgba(0, 0, 0, 0.16);
      background: whitesmoke;
    }

    g-menu-item .label {
      margin: 0 15px;
    }

    g-menu-item g-icon, g-menu-item .label, g-menu-item .label > * {
      display: inline-block;
      vertical-align: middle;
    }
  </style>
  <g-icon></g-icon>
  <div class="label">
    <span></span>
    <content></content>
  </div>
  <prototype>
    ready: function() {
      this.$ = {};
      this.$.icon = this.querySelector('g-icon');
      this.$.span = this.querySelector('span');
      this.$.content = this.querySelector('content');
      this.src = this.getAttribute('src');
      this.label = this.getAttribute('label');
      this.content = this.getAttribute('content');
    },
    set src(inValue) {
      this.$.icon.src = inValue;
    },
    set label(inValue) {
      this.$.span.textContent = inValue;
    },
    set content(inValue) {
      this.$.content.textContent = inValue;
    }
  </prototype>
</template>
