<!DOCTYPE html>
<!--
Copyright 2013 The Toolkitchen Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<html>
<head>
  <title></title>
  <meta charset="UTF-8">
  <script src="../../../WebComponents/web-components.js"></script>
  <script src="../../../CustomElements/custom-elements.js"></script>
  <link rel="component" href="../Template.html">
  <link rel="component" href="g-icon.html">
  <link rel="component" href="g-icon-button.html">
  <link rel="component" href="g-menu-item.html">
</head>
<body>
  <g-icon src="images/favorite.svg"></g-icon>
  <g-icon-button src="images/email.svg"></g-icon-button>
  <g-menu-item src="images/edit_page.svg" content="Post a Comment"></g-menu-item>
</body>
</html>
