#sidebar {
  position: absolute !important;
}

#workspace {
  border: 5px dashed orange;
  background-color: white;
}

#output {
  width: 400px;
  background-color: whitesmoke;
  padding: 16px;
  box-sizing: border-box;
}

* {
  X-webkit-transition: top, left;
  -webkit-transition: top, right, bottom, left;
  X-webkit-transition: width, height;
  -webkit-transition-duration: 0.3s;
}
