<element name="g-field" attributes="label description invalid">
  <template>
    <style>
      @host {
        /* @polyfill g-field */
        :scope {
          display: block;
          margin: 10px;
          background-color: #f0f0ed;
        }
      }
      #label {
        color: #999;
        display: inline-block;
        margin-right: 15px;
      }
      #shadow {
        display: -webkit-flex;
        -webkit-align-items: center;
      }
      #description {
        color: #7f7f7f;
        font-size: 12pt;
      }
      #block {
        display: -webkit-inline-flex;
        -webkit-flex-direction: column;
        -webkit-flex: 1 auto;
      }
      #item::-webkit-distributed(*) {
        -webkit-flex: 1 auto;
      }
      #warning {
        -webkit-mask: url(../assets/invalid.png);
        -webkit-mask-size: contain;
        background-color: #d84437;
        display: inline-block;
        height: 21pt;
        width: 21pt;
        line-height: 21pt;
        vertical-align: middle;
      }
      #validate {
        color: #d84437;
      }
    </style>
    <div id="shadow">
      <span id="label">{{label}}</span>
      <span id="block">
        <content id="item" select="*"></content>
        <span id="description">{{description}}</span>
      </span>
      <span id="validate" hidden?="{{valid}}">
        <span id="warning"></span>
        <span>{{invalid}}</span>
      </span>
    </div>
  </template>
  <script>
    Toolkit.register(this, {
      label: '',
      description: '',
      invalid: '',
      valid: true
    });
  </script>
</element>
