<element name="g-input-decorator">
  <template>
    <style>
      @host {
        g-input-decorator {
          border: 1px solid #b2b2b2;
          border-top-width: 0px;
          background: white;
        }
        g-input-decorator:first-of-type {
          border-top-width: 1px;
        }
      }
      #shadow {
        display: -webkit-flex;
        -webkit-flex-flow: row nowrap;
        -webkit-align-items: center;
      }
      .focused {
        box-shadow: inset 0 0 8px #448afd, 0 0 8px #448afd;
      }
      #input::-webkit-distributed(input) {
        border: none;
        outline: 0;
        -webkit-flex: 1;
      }
      #input::-webkit-distributed(input::-webkit-input-placeholder) {
        color: #bfbfbf;
      }
      #left::-webkit-distributed(*), #right::-webkit-distributed(*) {
        -webkit-flex: 0;
      }
    </style>
    <div id="shadow">
      <content id="left" select="[left]"></content>
      <content id="input" select="input"></content>
      <content id="right" select="[right]"></content>
    </div>
  </template>
  <script>
    Toolkit.register(this, {
      toggleFocus: function(inFocused) {
        this.$.shadow.classList.toggle('focused', inFocused);
      },
      ready: function() {
        this.addEventListener('focus', function(e){
          this.toggleFocus(true);
        }.bind(this), true);
        this.addEventListener('blur', function(e){
          this.toggleFocus();
        }.bind(this), true);
      }
    });
  </script>
</element>
