<link rel="import" href="../../../toolkit/components/g-overlay.html">
<link rel="import" href="g-input-decorator.html">
<element name="g-select" attributes="placeholder">
  <template>
    <style>
      @host {
        g-select {
          border: 1px solid #b2b2b2;
          border-top-width: 0px;
          background: white;
        }
        g-select:first-of-type {
          border-top-width: 1px;
        }
      }
      #container {
        display: -webkit-flex;
        -webkit-flex-flow: column nowrap;
        -webkit-align-items: center;
        box-shadow: 0px 10px 10px -5px #999;
      }
      .item {
        padding: 0 20px;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: #b2b2b2;
        font-size: 14pt;
      }
      .item:last-child {
        border-bottom-width: 0;
      }
    </style>
    <input id="input" placeholder="{{placeholder}}" on-focus="open"
    on-blur="close">
    <g-overlay id="container">
      <div class="item">Item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Item 3</div>
    </g-overlay>
  </template>
  <script>
    Toolkit.register(
      this,
      {
        open: function() {
          var w = this.getBoundingClientRect().width + 'px';
          this.$.container.style.width = w;
          this.$.container.opened = true;
        },
        close: function() {
          this.$.container.opened = false;
        }
      }
    );
  </script>
</element>
