<link rel="component" href="../../../toolkit-ui/elements/g-app.html">
<element name="x-app-two-columns" extends="g-app">
  <link rel="stylesheet" polymer-scope="controller" type="text/css" href="../flexbox.css">
  <link rel="stylesheet" type="text/css" href="../flexbox.css">
  <template>
    <style>
      content::-webkit-distributed(header) {
        background: black;
        padding: 5px 20px;
        color: #999;
      }
      content::-webkit-distributed(header > *) {
        display: inline-block;
        margin: 0 5px;
      }
      content::-webkit-distributed(.menu) {
        width: 150px;
        border: 1px solid black;
        margin: 30px 15px 0;
        padding: 5px;
        padding-bottom: 15px;
      }
      content::-webkit-distributed(.menu h1) {
        font-size: 24px;
      }
      content::-webkit-distributed(.body) {
        padding: 40px 5px;
      }
    </style>
    <content select="header"></content>
    <div class="flexbox">
      <content select=".menu"></content>
      <content flex select=".body"></content>
    </div>
  </template>
  <script>
    Polymer.register(this, {
      ready: function() {
        this.super();
      }
    });
  </script>
</element>
