:host {
  display: block;
  overflow: hidden;
}

.polymer-list-list {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.polymer-list-viewport {
  position: relative;
}

.polymer-list-viewport.horizontal {
  height: 100%;
  white-space: nowrap;
}

.polymer-list-viewport > * {
  position: absolute;
  overflow: hidden;
  /*-webkit-transform: translateZ(0);
  transform: translateZ(0);*/
}

.polymer-list-viewport:not(.horizontal) > * {
  left: 0;
  right: 0;
}

.polymer-list-viewport.horizontal > * {
  top: 0;
  bottom: 0;
}
